* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  /* border: 2px solid red; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.circle1 {
  animation-name: left-move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* border: 2px solid red; */
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  z-index: -1;
}
.circle3 {
  animation-name: right-move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* border: 2px solid red; */
  z-index: -1;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

@keyframes left-move {
  0%,
  100% {
    transform: translateX(100%) scale(0.5);
  }
  50% {
    transform: translateX(-50%) scale(0.7);
  }
}
@keyframes right-move {
  0%,
  100% {
    transform: translateX(-100%) scale(0.5);
  }
  50% {
    transform: translateX(50%) scale(0.7);
  }
}

